<h3>{{Titulo}} <small>{{TituloAccionABMC[AccionABMC]}}</small></h3>
<div class="row justify-content-center m-3" *ngIf="AccionABMC == 'L'">
  <button type="button" class="btn btn-primary" (click)="Agregar()">
      <span class="fas fa-plus"> </span> 
      Agregar
  </button>
</div>
<div class="container" *ngIf="AccionABMC == 'L'">
  <div>
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
              <th class="text-center">Id Empresas</th>
              <th class="text-center">Cant Empleados</th>
              <th class="text-center">Fecha Fundacion</th>
              <th class="text-center">Razon Social</th>
              <th class="text-center">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let empresa of Empresas">
              <td>{{empresa.IdEmpresa}}</td>
              <td>{{empresa.CantidadEmpleados}}</td>
              <td>{{empresa.FechaFundacion|date:'dd/MM/yyyy'}}</td>
              <td>{{empresa.RazonSocial}}</td>
              <td style="text-align: center;">
                <button type="button" class="btn btn-sm btn-outline-primary" title="Ver" (click)="Consultar(empresa)">
                    <span class="fas fa-eye"></span>
                </button>
                <button type="button" class="btn btn-sm btn-outline-primary" title="Modificar" (click)="Modificar(empresa)">
                <span class="fas fa-pencil-alt"></span>
                </button>
                <button type="button" class="btn btn-sm btn-outline-danger"
                    title="Eliminar" (click)="Eliminar(empresa)">
                    <span class="fas fa-times"></span>
                </button>
              </td>
          </tr>
        </tbody>
      </table>
  </div>
</div>
<form name="FormReg" [formGroup]='FormReg' *ngIf="AccionABMC != 'L'" class="bg-light">
	<fieldset [disabled]="AccionABMC==='C'">
    <!-- Cant Empleados -->
    <div class="form-group row">
			<label class="col-form-label col-sm-2 col-sm-offset-2" for="CantidadEmpleados">Cantidad Empleados <span
                    class="text-danger">*</span></label>
			<div class="col-sm-6">
				<input type="text" name="CantidadEmpleados" class="form-control" formControlName="CantidadEmpleados" [ngClass]="{'is-invalid': (FormReg.controls.CantidadEmpleados.touched || submitted)  
            && FormReg.controls.CantidadEmpleados.errors}" />
        <span class="text-danger" *ngIf="(FormReg.controls.CantidadEmpleados.touched || submitted) 
                       && FormReg.controls.CantidadEmpleados.errors?.required">
                    Dato requerido.
        </span>
				<span class="text-danger" *ngIf="(FormReg.controls.CantidadEmpleados.touched || submitted) 
               && FormReg.controls.CantidadEmpleados.errors?.pattern">
                    Dato numérico, 1 a 300 dígitos.
        </span>                
		  </div>
		</div>
    <!-- Fecha Fundacion -->
    <div class="form-group row">
			<label class="col-form-label col-sm-2 col-sm-offset-2" for="FechaFundacion">Fecha Fundacion <span
                    class="text-danger">*</span></label>
			<div class="col-sm-6">
				<input type="text" class="form-control" name="FechaFundacion" formControlName="FechaFundacion" [ngClass]="{'is-invalid': (FormReg.controls.FechaFundacion.touched || submitted)  
            && FormReg.controls.FechaFundacion.errors}" />
       <span class="text-danger" *ngIf="(FormReg.controls.FechaFundacion.touched || submitted) 
                       && FormReg.controls.FechaFundacion.errors?.required">
                    Dato requerido.
                </span>
				<span class="text-danger" *ngIf="(FormReg.controls.FechaFundacion.touched || submitted) 
                       && FormReg.controls.FechaFundacion.errors?.pattern">
                    Dato fecha, formato dd/mm/aaaa.
        </span>                     
			</div>
		</div>

    <!-- Razon Social -->
    <div class="form-group row">
			<label class="col-form-label col-sm-2 col-sm-offset-2" for="RazonSocial">Razon Social <span
                    class="text-danger">*</span></label>
			<div class="col-sm-6">
				<input type="text" class="form-control" formControlName="RazonSocial" [ngClass]="{'is-invalid': (FormReg.controls.RazonSocial.touched || submitted)  
            && FormReg.controls.RazonSocial.errors}"/>
      <span class="text-danger" *ngIf="(FormReg.controls.RazonSocial.touched || submitted) 
                        && FormReg.controls.RazonSocial.errors?.required">
                    Dato requerido.
                </span>
                <span class="text-danger" *ngIf="(FormReg.controls.RazonSocial.touched || submitted) 
                       && (FormReg.controls.RazonSocial.errors?.minlength || FormReg.controls.RazonSocial.errors?.maxlength) ">
                    Dato texto, 4 a 55 caracteres.
                </span>                
			</div>
		</div>
  </fieldset>
    <div class="row justify-content-center">
		<button type="button" *ngIf="AccionABMC!=='C'" class="btn btn-primary" (click)="Grabar()">
            <span class="fas fa-check"></span> Grabar
        </button>
		&nbsp;
		<button type="button" class="btn btn-warning" (click)="Volver()">
            <span class="fas fa-undo"></span> {{AccionABMC=='C' ? 'Volver' : 'Cancelar'}}
        </button>
	</div>
  	<!--texto: Revisar los datos ingresados...-->
	<div id="divMsjFormRegistro" *ngIf="submitted && FormReg.invalid" class="row alert alert-danger">
		<span class="fas fa-exclamation-sign"></span>{{Mensajes['RD']}}
	</div>
</form>